.btn-close {
  margin-left: 10px;
  color: #ffffff;
}

.adm-row {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.adm-task-name {
  width: 220px;
}

app-spinner {
  margin-left: 10px;
  width: 70px;
  justify-content: center;
  display: flex;
}
