<form [formGroup]="form" (clickOutside)="decline(); isEdit = false">
  <div class="payment-details">
    <div class="payment-items-list">
      <div class="creating-payment-item">
        <div class="creating-item-buttons">
          <div class="info-icons" *ngIf="loading">
            <app-spinner></app-spinner>
          </div>
          <svg-icon
            class="accept-icon icon"
            src="assets/icons/check.svg"
            [class.icon-disabled]="form.invalid"
            *ngIf="isEdit && !loading"
            [matTooltip]="'Применить'"
            (click)="save()"
          >
          </svg-icon>
          <svg-icon
            class="delete-icon icon"
            src="assets/icons/cross.svg"
            *ngIf="!loading"
            [matTooltip]="isEdit ? 'Отменить' : 'Удалить'"
            (click)="isEdit ? decline() : removeItem(); isEdit = false; $event.stopPropagation()"
          ></svg-icon>
        </div>
        <div>
          <div class="form-control form-control-payment" (click)="isEdit = true">
            <label>Название</label>
            <input
              [readOnly]="!isEdit || loading"
              autocomplete="new-password"
              class="common-info-input"
              type="text"
              formControlName="name"
            />
          </div>
          <div class="form-control form-control-payment" (click)="isEdit = true">
            <label>Логин</label>
            <input
              [readOnly]="!isEdit || loading"
              autocomplete="new-password"
              class="common-info-input"
              type="text"
              formControlName="login"
            />
          </div>
          <div class="form-control form-control-payment" (click)="isEdit = true">
            <label>Пароль</label>
            <input
              [readOnly]="!isEdit || loading"
              autocomplete="new-password"
              class="common-info-input"
              type="text"
              formControlName="password"
            />
          </div>
          <div class="form-control form-control-payment">
            <label>Ссылка</label>
            <a
              *ngIf="!isEdit && form.get('url').value"
              class="link-text"
              [href]="form.get('url').value"
              target="_blank"
              (click)="$event.stopPropagation()"
            >
              <span>{{ linkText }}</span>
            </a>
            <input
              (click)="isEdit = true"
              *ngIf="isEdit || !form.get('url').value"
              [readOnly]="!isEdit || loading"
              autocomplete="new-password"
              class="common-info-input"
              type="text"
              formControlName="url"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
