<mat-form-field class="full-width" [floatLabel]="'always'" appearance="fill">
  <mat-label *ngIf="label">{{ label }}</mat-label>
  <input
    matInput
    [type]="type"
    [placeholder]="placeholder"
    [ngModel]="searchItem"
    (ngModelChange)="writeValue($event)"
    [matAutocomplete]="auto"
    [disabled]="isDisabled"
  />
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let option of filteredOptions" [value]="option">
      {{ option.label }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
