select {
  margin-top: 6px !important;
  &:not(.ng-dirty) {
    color: rgba(0, 0, 0, 0.42);
  }
}

.esp__wrapper {
  position: relative;
}

.loading-group {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 108;
  cursor: not-allowed;
}
