<div *ngIf="!loading" class="container finances" [ngClass]="{ editing: selectedItemId }">
  <div class="header" style="margin-bottom: 20px">
    <div
      *ngIf="(isAdmin || isTeamLead) && showBackButton"
      class="btn btn-back"
      [routerLink]="['/daily/common']"
      [queryParams]="returnFilters"
    >
      Вернуться к списку
    </div>
    <div class="user-container">
      <div class="user-card">
        <div class="user-block">
          <svg-icon class="user-icon" src="assets/icons/account-circle.svg"></svg-icon>
          <div class="user-info">
            <div class="user-name">
              <a class="finances-link" [routerLink]="['/profile', user.id]">
                {{ user.lastName + ' ' + user.firstName }}
              </a>
            </div>
            <div class="user-role">{{ auth.rolesRU[user.roleId] }}</div>
          </div>
        </div>
        <div class="add-info">
          <div>ID: {{ user.id }}</div>
          <div>Команда: {{ user.teamId || '-' }}</div>
          <div>Процент за период: {{ currentProfitPercent || '?' }}%</div>
        </div>
      </div>
    </div>
  </div>

  <app-data-table
    *ngIf="dataTableConfig"
    [dataTable]="dataTableConfig"
    [selectedItemId]="selectedItemId"
    [loading]="loading"
    (filtersChange)="activeFilers = $event"
    (filteredData)="parseDataById($event)"
  >
    <ng-container filters-left [formGroup]="form">
      <div class="form-control">
        <label class="filter-label">Профит</label>
        <div
          class="profit-inputs reg-select"
          [ngClass]="{ expanded: showInputs }"
          (click)="clickOnInputs($event.target)"
        >
          <div class="input-value-block">
            <span class="input-value" *ngIf="!form.get('profitFrom').value && !form.get('profitTo').value">
              Не выбрано
            </span>
            <span class="input-value" *ngIf="form.get('profitFrom').value && form.get('profitTo').value">
              {{
                (form.get('profitFrom').value | number: '1.1') + ' - ' + (form.get('profitTo').value | number: '1.1')
              }}
            </span>
            <span class="input-value" *ngIf="form.get('profitFrom').value && !form.get('profitTo').value">
              {{ 'от ' + (form.get('profitFrom').value | number: '1.1') }}
            </span>
            <span class="input-value" *ngIf="!form.get('profitFrom').value && form.get('profitTo').value">
              {{ 'до ' + (form.get('profitTo').value | number: '1.1') }}
            </span>
          </div>
          <div class="inputs-block" *ngIf="showInputs" (clickOutside)="onClickedOutside($event.target)">
            <div class="inputs-container">
              <div class="form-control-profit">
                <input
                  placeholder="от"
                  class="finances-input"
                  id="profitFrom"
                  type="number"
                  formControlName="profitFrom"
                />
              </div>
              <div class="form-control-profit">
                <input placeholder="до" class="finances-input" id="profitTo" type="number" formControlName="profitTo" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container filters-right>
      <div class="form-control budget" *ngIf="budget != undefined">
        <label class="filter-label">Финансовый KPI</label>
        <app-linear-progress-bar
          [hideValues]="differenceDate?.asMonths() >= 2"
          [maxValue]="budget"
          [ngModel]="getTotalProfit"
          [ngModelOptions]="{ standalone: true }"
          [disabled]="true"
        ></app-linear-progress-bar>
      </div>
    </ng-container>
  </app-data-table>

  <div class="result-footer">
    <div class="footer" [formGroup]="taxForm" *ngIf="currentItems?.length">
      <!-- <div *ngIf="termId" class="total-comission-group">
        <app-input-group
          *ngIf="selectedItemId; else totalRefunds"
          [label]="'ВОЗВРАТЫ'"
          [loading]="loading"
          [viewData]="refundsView"
          [currentMonth]="currentMonth"
          [inputs]="refundItems"
          [disabled]="false"
          (save)="updateRefunds($event)"
        >
        </app-input-group>
        <ng-template #totalRefunds>
          <app-input-group
            [label]="'ВОЗВРАТЫ'"
            [loading]="loading"
            [viewData]="refundsViewTotal"
            [currentMonth]="currentMonth"
            [disabled]="true"
            (save)="updateRefunds($event)"
          ></app-input-group>
        </ng-template>
      </div> -->

      <!-- <div *ngIf="termId" class="total-comission-group">
        <app-input-group
          [label]="'ОБЩАЯ КОМИССИЯ'"
          [loading]="loading"
          [viewData]="commissionView"
          [currentMonth]="currentMonth"
          [inputs]="commissionItems"
          [disabled]="!isActive"
          (save)="updateCommissions($event)"
        ></app-input-group>
      </div> -->

      <div *ngIf="termId" class="total-comission-group">
        <app-input-group
          [label]="'ВНУТРЕННИЕ РАСХОДНИКИ'"
          [loading]="loading"
          [viewData]="accountsTaxView"
          [currentMonth]="currentMonth"
          [inputs]="accountsTaxItems"
          [disabled]="!isActive"
          (save)="updateAccountsTax($event)"
        ></app-input-group>
      </div>
    </div>

    <div class="footer">
      <div class="result-money" *ngIf="!isHelper">
        <svg-icon class="result-icon" src="assets/icons/finances.svg"></svg-icon>
        <p>
          За период заработано:
          <span class="money">{{ getResultMoney | currency: 'USD' }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="loading-group" *ngIf="loading">
  <span class="loading-text">Loading</span>
  <app-spinner></app-spinner>
</div>
